# Docs https://www.redhat.com/sysadmin/systemd-oneshot-service

[Unit]
Description=A simple oneshot service that executes the aps-cert-ln script
After=systemd-sysusers.service

[Service]
Type=oneshot
ExecStart=/usr/bin/aps-cert-ln
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target
